<!DOCTYPE html>
<html>
    <head>
        <title>{{ todo_lv.name }}</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todolist.name }}</h1>
                <p><a href="{% url 'update_todolist' todolist.id %}">Edit list name</a></p>
                <p><a href="{% url 'delete_todolist' todolist.id %}">Delete list</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todolist.items.all %}
                            <tr>
                                <td><a href="{% url 'i_update' task.id %}">{{ task.task }}</a></td>
                                <td>{{ task.due_date|date:"D, F n, Y" }} {{ task.due_date|time:"f:i A" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>