<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p><a href="{% url 'create_todolist' %}">Create a new list</a></p>
                <p><a href="{% url 'i_create' %}">Create a new item</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listname in todo_lv %}
                            <tr>
                                <td><a href="{% url 'show_todolist' listname.id %}">{{ listname.name }}</a></td>
                                <td>{{ listname.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>